
@{
    ViewData["Title"] = "家庭成员";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div align="center">
    <h2>没有月度排名记录</h2>
</div>
<br/>
<div class="text-right">
    <a asp-action="Index" asp-controller="Member">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回主页
    </a>
</div>

