@model FamilySys.Models.DbModels.Announcement
@{
	ViewData["Title"] = "家庭成员";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div>
	<h2 align="center">公告 #@Model.ID</h2>
	<div class="panel panel-primary">
		<div class="panel-heading" style="font-size: smaller">
			<h3>@Model.Title</h3>
			<p class="text-right">
				发布时间：@Model.Date.GetDateTimeFormats('f')[0].ToString() <br />
				最后修改时间：@Model.ModifyDate.GetDateTimeFormats('f')[0].ToString()
			</p>
		</div>
		<div class="panel-body" style="color: black">
			@Html.Raw(Model.Content)
		</div>
	</div>
</div>
<br />
<div class="text-right">
	<a asp-action="ShowAnnouncements" asp-controller="Member">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回
	</a>
</div>

